
		{% if buyers_list %}
		
		{% for buyer in buyers_list %}
			<tr>
				<td><div align='center'> {{ forloop.counter }} </div> </td>
		    <td> {{ buyer.buyer_name }}  </td>
		    <td> {{ buyer.login_link }}  </td>
		    <td> {{ buyer.buyer_country }}  </td>
		    <td> {{ buyer.submission_allowed }}  </td>
		    <td>
		      <div align='center'> 
		        <a href="#" class='deletebuyer btn btn-danger' value="{{ buyer.pk }}">D</a> 
		      </div> 
		    </td>
				
			</tr>
		{% endfor %}
		{% else %}
		<tr class='no-buyers-row'>
		  <td colspan=4>
		    <div align='center'>
		      <div class="alert alert-danger">
		        You have no saved buyers.
		      </div>
		    </div> 
		  </td>
		</tr>
		{% endif %}