{% load extra_tags %}
<div class='col-md-9 content'>           

<div class='row'>
  <div class='col-md-12'>
        <div class="panel-heading login-header">Search Corporations</div>
  </div>
  

  <div class='col-md-12'>
  	<form action="/ssm/supplier_profile/" class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
      
      <div class="panel-group" id="accordion">
		{% for k, section in sections.items|sort %}
      <!-- Owner info section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#section_id_{{ k }}">
              {{ section }}
            </a>
          </h4>
        </div>
        <div id="section_id_{{ k }}" class="panel-collapse collapse {% if forloop.first %} in {% endif %}">
          <div class="panel-body">
            {% for field in form %}
              {% if field.field.section == section %}
                <div class="form-group">
                  {{ field.errors }}
                  <div class="col-md-12">
                    <label for="id_{{ field.name }}">
                      {{ field.label }}{% if field.field.required %} ( * ) {% endif %}
                    </label>
                  </div>
                  <div class="col-md-12">
                    
                    {% if field.field.type == 'Select' %}
                      <select id="{{ field.id_for_label }}" name="{{ field.name }}" class="form-control"
                      {% if field.field.required %} required="true" {% endif %}>
                        {% for option in field.field.options %} 
                          <option value="{{ option }}" {% if field.value == option %} selected='true' {% endif %}>{{ option }}</option>
                        {% endfor %}
                      </select>
                    {% elif field.field.type == 'Radio' %}
                      {% for option in field.field.options %}
                        <div class="radio-inline">
                          <label class="radio-inline">
                             
                              <input type='radio' name="{{ field.name }}" value="{{ option }}" {% if field.field.required %} required="true" {% endif %} {% if field.value == option %} checked='true' {% endif %}>
                              {{ option }}
                            
                          </label>
                        </div>                       
                      {% endfor %}

                    {% elif field.field.type == 'Multi-select' %}
                      {{ field }}

                    {% elif field.field.type == 'Textarea' %}
                      <textarea style="resize: none;" name="{{ field.name }}" class="form-control" rows="3" maxlength={{ field.field.max_length }}
                      {% if field.field.required %} required="true" {% endif %} value="">{% if field.field.value %}{{ field.field.value }}{% endif %}</textarea>

                    
                    {% elif field.field.type == 'Image' %}
                      {{ field }}

                    {% elif field.field.type == 'Currency' or field.field.type == 'Number' %}
                      <input type="Number" max="{{ field.field.max_length }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" {% if field.field.required %} required="true" {% endif %} value="{% if field.value %}{{ field.value }}{% endif %}">

                    {% elif field.field.type == 'File' %}
                      {{ field }}

                    {% elif field.field.type == 'Checkbox' %}
                      <div class="col-md-1  {% if field.field.required %} required{% endif %}">
                        {{ field }}
                      </div>
                      <div class="col-md-11">
                      </div>
                    
                    {% elif field.field.type == 'Date' %}

                      <input type="Date" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" {% if field.field.required %} required="true" {% endif %} value="{% if field.value %}{{ field.value }}{% endif %}">

                    {% elif field.field.type == 'Email' %}
                      <input type="Email" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" {% if field.field.required %} required="true" {% endif %} value="{% if field.value %}{{ field.value }}{% endif %}">

                    {% else %}
                    
                      <input type="{{ field.field.type }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" {% if field.field.required %} required="true" {% endif %} value="{% if field.value %}{{ field.value }}{% endif %}" maxlength={{ field.field.max_length }}>
                    
                    {% endif %}
                  
                  </div>
                </div>
              {% endif %}
                
            {% endfor %}
          </div>
        </div>
      </div>

    {% endfor %}

    {% if EXTRAFIELD %}
      <!-- Extrafield section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#ExtraFields">
              Extra field for buyers
            </a>
          </h4>
        </div>
        <div id="ExtraFields" class="panel-collapse collapse">
          <div class="panel-body">
            {% for fr in adfields %}
            {% if fr.section.section_name == 'EXTRAFIELD' %}
              <div class="form-group">

                <div class="col-md-12">
                  <label for="id_{{ fr.pk }}" class="control-label">
                    {{ fr.field_label }}{% if fr.is_required %} ( * ) {% endif %}
                  </label>
                </div>

                  
                <div class="col-md-12">
                  {% if fr.get_field_type_display == 'Number' or fr.get_field_type_display == 'Currency' %}
                  <input type="Number" name="{{ fr.pk }}" class="form-control" id="id_{{ fr.pk }}" placeholder="{{ fr.field_name }}" {% if fr.is_required %} required="true" {% endif %} value="{{ fr.data_value }}" maxlength={{ fr.max_length }}>
                  
                  {% elif fr.get_field_type_display == 'Textarea' %}
                  <textarea style="resize: none;" name="{{ fr.pk }}" class="form-control" rows="3" 
                  {% if fr.is_required %} required="true" {% endif %} value="">{% if fr.data_value %}{{ fr.data_value }}{% endif %}"</textarea>


                  {% elif fr.get_field_type_display == 'Select' %}
                  <select id="{{ fr.id_for_label }}" name="{{ fr.pk }}" class="form-control"
                      {% if fr.is_required %} required="true" {% endif %}>
                        {% for option in fr.options %} 
                          <option value="{{ option }}" {% if fr.data_value == option %} selected='true' {% endif %}>{{ option }}</option>
                        {% endfor %}
                  </select>

                  {% elif fr.get_field_type_display == 'Multi-select' %}
                    {{ fr }}

                  {% elif fr.get_field_type_display == 'Radio' %}
                  <div class="row">
                    {% for option in fr.options %}
                    <div class="col-md-1">
                      <div class="radio-inline">
                        <label class="radio-inline">
                           
                            <input type='radio' name="{{ fr.field_name }}" value="{{ option }}" {% if fr.is_required %} required="true" {% endif %} {% if fr.data_value == option %} checked='true' {% endif %}>
                            {{ option }}
                          
                        </label>
                      </div>                       
                      </div>
                    {% endfor %}

                  </div>
                  {% elif fr.get_field_type_display == 'Checkbox' %}
                  <div class="col-md-1  {% if fr.is_required %} required{% endif %}">
                        {{ fr }}
                      </div>
                  <div class="col-md-11">
                  </div>

                  {% elif fr.get_field_type_display == 'Email' %}
                    <input type="Email" name="{{ fr.pk }}" class="form-control" id="id_{{ fr.pk }}" placeholder="{{ fr.field_name }}" {% if fr.is_required %} required="true" {% endif %} value="{% if fr.data_value %}{{ fr.data_value }}{% endif %}">

                  
                  {% elif fr.get_field_type_display == 'File' %}
                    {% if fr.data_value %}
                      Currently: <a href="{{ fr.data_value }}">
                      {{ fr.data_value }}</a> 
                      <input id="{{ fr.field_name }}-clear_id" name="{{ fr.field_name }}-clear" type="checkbox"> 
                      <label for="{{ fr.field_name }}-clear_id">Clear</label><br>Change: 
                    {% endif %}
                    <input id="id_{{ fr.field_name }}" name="{{ fr.field_name }}" type="file">

                  {% else %}
                  <input type="{{ fr.get_field_type_display }}" name="{{ fr.pk }}" class="form-control" id="id_{{ fr.pk }}" placeholder="{{ fr.field_name }}" {% if fr.is_required %} required="true" {% endif %} value="{% if fr.data_value %}{{ fr.data_value }}{% endif %}" maxlength={{ fr.max_length }}>

                  {% endif %}

                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      </div>
      <br>
      <div class="form-group">
        <div class="col-md-10">
          <input type="hidden" name="supplier" value="{{ supplier.pk }}"> 
		      <input type="submit" class="btn btn-primary btn-lg" value="Create" />
        </div>
      </div>

		</form>
  </div>
  
</div>
<script type="text/javascript">
(function() {

})(jQuery)

</script>
	