{% extends "base.html" %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block main %}
<style type="text/css">
.col-md-3 {
    padding-left: 2px !important;
    padding-right: 2px !important; 
}
.list-group-item {
    border-radius: 0px !important;
    border-left: none;
    border-right: none;
    font-size: 16px;
}
.list-group-item .active {
    text-transform: uppercase;
}
</style>
<div class="row get-started-top">
    <div class="col-md-3">
        {% include "ssm/left_side_bar2.html" %}
    </div>
    <div class="col-md-9">
        <div clas="row" id="payment-plan">
        	<form name="prv-package-plan" action="/ssm/save_plan/" method="post">{% csrf_token %}
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">PLAN SERVICE</a>
                    {% for service in services %}
                    	<a href="#" class="list-group-item">{{ service }}</a>
                    {% endfor %}
                    <a href="#" class="list-group-item">Cost Per Corporation</a>
                    <select name="frequency" class="form-control">
                    {% for frequency in frequencies %}
                    	<option value="{{ frequency }}" {% if frequency == old_frequency %} selected {% endif %}>{{ frequency }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            
            {% for plan_service in plan_services %}
            
           	<div class="col-md-3">                    
                <div class="list-group" style="text-align:center;">
                    <span class="list-group-item active">{{ plan_service.plan|upper }}</span>            
	            	{% for service in services %}
	            		<span class="list-group-item">
			                			
			               <input type="checkbox" onclick="return false"
		                
		                	{% for s in plan_service.services %}
			                	{% if service == s %}
			                		checked
			                	{% endif %}
			                {% endfor %}
							>
						</span>
					{% endfor %}
					<span class="list-group-item">{{ plan_service.cpc }}</span>
					<input type="radio" value="{{ plan_service.plan_id }}" name="plan"
					id="{{ plan_service.plan|upper }}" {% if plan_service.plan == old_plan %} checked {% endif %}> {{ plan_service.plan|upper }}
                </div>
                
             </div>
			{% endfor %}
			            
            <div class="col-md-10">    
            	<input type="submit" class="btn btn-success btn-lg" value="submit" name="submit">
            </div>
			
            </form>
            <div style="clear:both"></div>
        </div>

        
        <div style="clear:both"></div>



    </div>
    <div style="clear:both"></div>
</div>
<script type="text/javascript">
(function(){
	$(".navigationBar ul li a").each(function(i){
		$(this).removeClass("active");
	});
	$(".navigationBar ul li a[href='/ssm/get_started/']").addClass("active");
	
    //$("#checkout").attr("disabled", true);
    
    $("form.plan").on('submit', function(e){
        e.preventDefault();
        data = $(this).serialize();
        console.log(data)
        mydata = data.split("=");
        frequency = mydata[1];
        plan = mydata[0];
        
        console.log( mydata );
        
        $("input[name='plan_f']").val(frequency);
        $("input[name='plan_id']").val(plan);
        $("input[name='plan_amount']").val(plan);

        $.ajax({
            type: "POST",
            url: "/ssm/buynow/",
            data: {
              'data': data,              
            },

            success: function(data) {
              $("#plan-amount").html("$"+data);
              $("#net-amount").html("$"+data);
              $("#checkout").attr("disabled", false);
              $("input[name='plan_amount']").val(data);
              $("input[name='net_amount']").val(data);
                   
              
            },
            error: function(result) {
              alert('Error')
            }
        });

    });

    $("#coupon-code-apply").on('click', function(e){
        e.preventDefault();
        net_amount = $("#net-amount").text();
        plan_amount = $("#plan-amount").text();
        code = $("input[name=coupon-code]").val();
        plan_frequency = $("input[name='plan_f']").val();
        plan = $("input[name='plan_id']").val();

        $("input[name='cp_code']").val(code);
        

        console.log(code+":"+net_amount+":"+plan_frequency+":"+plan);

        $.ajax({
            type: "POST",
            url: "/ssm/check_coupon/",
            data: {
              'net_amount': net_amount,
              'plan_amount': plan_amount,
              'plan': plan,
              'plan_f': plan_frequency,
              'code': code        
              
            },

            success: function(data) {
                if(data == "DoesNotExist") {
                    $( "#coupon-code-error" ).fadeIn( 500 );
                    $("#coupon-code-error").html("This code does not exist");

                } else if(data == "NotActive") {
                    $( "#coupon-code-error" ).fadeIn( 500 );
                    $("#coupon-code-error").html("This code is not active");

                } else if(data == "EXPIRED") {
                    $( "#coupon-code-error" ).fadeIn( 500 );
                    $("#coupon-code-error").html("This code is expired");                    

                } else if(data == "NotValid") {
                    $( "#coupon-code-error" ).fadeIn( 500 );
                    $("#coupon-code-error").html("This code is not valid");
                    $("#net-amount").html(plan_amount);                   

                } else {
                    $("#net-amount").html("$"+data);
                    $("input[name='net_amount']").val(data);
                    
                }
                $( "#coupon-code-error" ).delay( 2000 ).fadeOut( 500 );
              
              
            },
            error: function(result) {
              alert('Error')
            }
        });
    });

/*
    $("#PREMIUM").on('click', function(e){

        e.preventDefault();
        plan_frequency = $("select[name='PREMIUM']").val();
        $("input[name='plan_f']").val(plan_frequency);
        $("input[name='plan']").val("PREMIUM");
        console.log(plan_frequency);

        $.ajax({
            type: "POST",
            url: "/prv/buynow/",
            data: {
              'plan_frequency': plan_frequency,
              'plan': "PREMIUM"
              
            },

            success: function(data) {
                if(data == "NOTACTIVE") {
                    alert("Not active")
                } else {
                    $("#plan-amount").html("$"+data);
                    $("#net-amount").html("$"+data);
                }
              
            },
            error: function(result) {
              alert('Error')
            }
        });
        

    });

    

    

    $("#ENTERPRISE").on('click', function(e){
        e.preventDefault();
        plan_frequency = $("select[name='ENTERPRISE']").val();
        $("input[name='plan_f']").val(plan_frequency);
        $("input[name='plan']").val("ENTERPRISE");

        $.ajax({
            type: "POST",
            url: "/prv/buynow/",
            data: {
              'plan_frequency': plan_frequency,
              'plan': "ENTERPRISE"
              
            },

            success: function(data) {
              $("#plan-amount").html("$"+data);
              $("#net-amount").html("$"+data);
                   
              
            },
            error: function(result) {
              alert('Error')
            }
        });
        

    });
*/
})(jQuery);

</script>
{% endblock %}