<div class='col-md-12'>
  <style>
  .active-tab{ background: #eee; }
  </style>
  <div class="panel-group" id="accordion">
	
	{% if request.path == "/ssm/get_started/" %}
    	<div class="panel panel-primary">
    {% else %}
    	<div class="panel panel-default">
    {% endif %}
    
    <div class="panel-heading">
    
        <h4 class="panel-title">
        <a href="{% url 'get_started' %}">Get Started Page</a>
        </h4>
      </div>
    </div>
    
    
	{% if request.path == "/ssm/buyer/" %}
    	<div class="panel panel-primary">
    {% else %}
    	<div class="panel panel-default">
    {% endif %}
    	<div class="panel-heading">
	        <h4 class="panel-title">
	        <a href="{% url 'buyer_page' %}"> Search</a>
	        </h4>
      	</div>
    </div>
    
    
	{% if request.path == "/ssm/supplier_profile/" %}
    	<div class="panel panel-primary">
    {% else %}
    	<div class="panel panel-default">
    {% endif %}
    
    	<div class="panel-heading">
        	<h4 class="panel-title">
        	<a href="{% url 'supplier_profile' %}"> Supplier Profile</a>
        	</h4>
      	</div>      
    </div>
    
    
    {% if request.path == "/ssm/supplier_info/" %}
    	<div class="panel panel-primary">
    {% else %}
    	<div class="panel panel-default">
    {% endif %}
      <div class="panel-heading">
        <h4 class="panel-title">
        <a href="{% url 'supplier_info' %}">Supplier Info</a>
        </h4>
      </div>
    </div>

    {% if request.path == "/ssm/submission_status/" %}
    	<div class="panel panel-primary">
    {% else %}
    	<div class="panel panel-default">
    {% endif %}
    
    	<div class="panel-heading">
        	<h4 class="panel-title">
        	<a href="{% url 'submission_status' %}">Submission Status</a>
        	</h4>
      	</div>      
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a href="#collapseThree">
        <i class="icon-envelope"></i> Notifications</a>
        </h4>
      </div>

      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">My Inbox</a>
            </li>     
          </ul>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        <i class="icon-file"></i> Reports</a>
        </h4>
      </div>

      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Successful Submission</a></li>
            <li class="list-group-item"><a href="#">Failed Submission</a></li>
            <li class="list-group-item"><a href="#">Client Report</a></li>     
          </ul>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
        <i class="icon-cog"></i> Administration</a>
        </h4>
      </div>
    </div>

  </div> <!-- End panel-group -->
</div>
