<div id="buyers_list">
<table class="table table-striped table-hover">
	<thead>
		<tr">
		    <th width=5%><div align='center'>Sr.#<div></th>
		    <th width=25%>Corporation Name</th>
		    <th width=35%>Login link</th>
		    <th width=15%>Country</th>
		    <th width=10%>Submission</th>
		    <th width=10%><div align='center'>Delete</div></th>
	  	</tr>     
	</thead>
	<tbody>
	{% include 'ssm/buyers_list.html' %}
	 <!--payment-left end-->
	</tbody>
</table>
</div>