<form name="payment" action="/ssm/payment/create/" method="post">
<div class="row margin-top">
    <div class="col-md-6 ">
        <label for="plan-amount" class="pull-right">Plan Amount:</label>
    </div>
    <div class="col-md-6">
        <div id="plan-amount">${{ total_bill }}</div>
        <input type="hidden" name="plan_id" value="{{ plan.id }}">
        <input type="hidden" name="plan_f" value="{{ plan_frequency }}">
        <input type="hidden" name="plan_amount" value="{{ plan.cpc }}">
        <input type="hidden" name="total_buyers" value="{{ total_buyers }}">
    </div>
</div>
<div class="row margin-top">
    <div class="col-md-6">
        <label for="coupon-code" class="pull-right">Do you have a coupon code?</label>
    </div>
    <div class="col-md-4">
        <input type='text' class="form-control" name="coupon-code" />
        <input type="hidden" name="cp_code" value="">
        <input type="hidden" name="cp_amount" value="">
        <div id="coupon-code-error">
        </div>
    </div>
    <div class="col-md-2">
        
        <a href="#" class="btn btn-default" id="coupon-code-apply">Apply</a>
    </div>
</div>

<div class="row margin-top">
    <div class="col-md-6">
        <label for="net-amount" class="pull-right">Net Amount:</label>
    </div>
    <div class="col-md-6">
        <div id="net-amount">${{ total_bill }}</div>
        <input type="hidden" name="net_amount" value="{{ total_bill }}">
    </div>
</div>
<div class="row margin-top">
    <div class="col-md-6">
        
    </div>
    <div class="col-md-6">
      
        <button type="submit" class="btn btn-lg btn-primary" id="checkout">Checkout</button>
    </div>
</div>

<div style="clear:both"></div>

</form>