{% extends "base.html" %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block main %}
	<div class="row">
	    <div class="col-md-4">
	        <!--payment-left start-->
	        {% include 'ssm/payment_left.html' %}
	        <!--payment-left end-->
	    </div>
	    
	    <div class="col-md-8">
	        <!--payment-left start-->
	        <div class="panel panel-primary">
				<div class="panel-heading">
				    <h1 class="panel-title">Corporation you selected</h1>
				</div>
				<div class="panel-body">
					{% include 'ssm/payment_right.html' %}
				</div>
			</div>
	    </div>
	    
	    <div class="clearfix"></div>
	</div>

	<div class="row maincontent">
		<div class="col-md-8 col-md-offset-2">
		<div class="row payment-details">
            <div class="col-md-8 col-md-offset-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h1 class="panel-title">Payment details</h1>
                    </div>
                    <div class="panel-body">
                        {% include "ssm/payment_form.html" %}                       
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>
        </div>
		
		</div>
		
	<div style="clear:both"></div>
	</div>

<script type="text/javascript">
(function(){
	
	$("#payment_calculation").on("click", function(e){
		
		total_buyers = $("input[name='total_buyers']").val();
		cpc = $("input[name='cpc']").val();
		total_bill = cpc * total_buyers;
		$("#total_bill").val(100);
		$("#total_bill").fadeIn();
		
		/*
		$.ajax({
            type: "POST",
            url: "/ssm/buynow/",
            data: {
              'data': data,              
            },

            success: function(data) {
              $("#plan-amount").html("$"+data);
              $("#net-amount").html("$"+data);
              $("#checkout").attr("disabled", false);
              $("input[name='plan_amount']").val(data);
              $("input[name='net_amount']").val(data);
                   
              
            },
            error: function(result) {
              alert('Error')
            }
        });
		*/		
	});
	
	
	
	
	
	// ================ Delete =========================	
	
	$("a.deletebuyer").on('click', function(event){
		  event.preventDefault();
		  bid = $(this).attr('value');
			console.log(bid);
		  //el = $(this).closest('tr');

		  $( "#deleteconfirm" ).dialog({
		      resizable: false,
		      height:250,
		      width: 320,
		      modal: true,
		      create: function(){
		        console.log('dialog created.');
		        $(".ui-widget-header").css("display",'none');
		      },
		      buttons: {
		        Delete: function() {

		 			console.log('delete');
		          $.ajax({
		              type: "POST",
		              url: "/ssm/delete_buyer2/",
		              data: {
		                'bid': bid,
		              },

		              success: function(data) {
		            	  $("#buyers_list tbody").html(data);
		              },
		              error: function(result) {
		                alert('error');
		              }
		          });
		          $( this ).dialog( "close" );
		        },
		        Cancel: function() {
		          $( this ).dialog( "close" );
		        }
		      }
		    });

		  
		});

})(jQuery)
</script>
{% endblock main %}