<div class="list-group">
    <a href="#" class="list-group-item active">TOTAL BUYERS SELECTED</a>
    <a href="#" class="list-group-item">{{ total_buyers }}</a>
    
    
    <a href="#" class="list-group-item active">YOR PACKAGE NAME</a>
    <a href="#" class="list-group-item">{{ plan.plan_title|upper }}</a>
    
    
    <a href="#" class="list-group-item active">COST PER CORPORATION</a>
    <a href="#" class="list-group-item">$ {{ plan.cpc }}</a>
    
    <a href="#" class="list-group-item active">PACKAGE FERQUENCY</a>
    <a href="#" id="plan_frequency" class="list-group-item">{{ plan_frequency }}</a>
    
    <a href="#" class="list-group-item active">TOTAL BILL</a>
    <a href="#" id="total_bill" class="list-group-item">{{ total_bill }}</a>
    
    
</div>
<button id="payment_calculation" class="btn btn-primary btn-lg">Calculate Your Payment</button>

