<div class='col-md-9 content'>           

<div class='row'>
  <div class='col-md-12'>
        <div class="panel-heading login-header">Search Corporations</div>
  </div>
</div>
    <form name='corporations'>
        <div class='row'>
          <div class='col-md-5 form-element'>
            <select name="multiple" id='select1' multiple class="form-control">
            {% for category in categories %}
              <option value="{{ category.pk }}">{{ category.category_name }}</option>
            {% endfor %}
            </select>
          </div>

          <div class='col-md-2 hello'>
            <button type="button" id="moveright" class="btn btn-default "> >> </button><br>
            <button type="button" id="moveleft" class="btn btn-default form-element"> << </button>
          </div>

          <div class='col-md-5 form-element'>
            <select name="categories" id='select2' multiple class="form-control">
            
            </select>
          </div>

        </div>

        <div class='row'>
          <div class="col-md-12">
            <p class="text-danger"><strong>Add comma seperated (,) keywords to search corporations</strong><span style="color:#000; margin-left: 20px;">example: computer, textile, food </span> </p>
            
          
          </div>
          <div class='col-md-12'>
            <input type="text" id="findcat" class="form-control" placeholder="Find category">
          </div>
          <div class='col-md-12 form-element'>

            <input type="text" id="findbuyer" class="form-control" placeholder="Find corporation">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12 form-element'>
            <input type='radio' value='yes' name='showall' checked='true'> Show all
            <input type='radio' value='no' name='showall'> Do not show already selected 
            <button type="button" id="search" class="btn btn-default"> Search Corporation </button> 
          </div> 
        </div>
      
    </form>

    <div class='row'>
      <div class='col-md-12' id="loader">
        <img src="/static/images/loader.gif">
      </div> 
      <div class='col-md-12 form-element' id="buyers">


      </div> 
    </div>
    <!-- Search result-->
    <div class='row bysearch'>
              
      <div class="col-md-12">
        <div id='selectedbuyers'>
          <div class="alert alert-info tb-header">
            <p>Selected List of Corporations</p>
          </div>
            <table class="table table-striped table-hover  table-bordered">
                <thead>
                  <tr>
                    <th width=7%><div align='center'>Sr.#<div></th>
                    <th width=45%>Corporation Name</th>
                    <th width=38%>State</th>
                    <th width=10%><div align='center'>Delete</div></th>
                  </tr>     
                </thead>
                <tbody>
                  
                    {% include "ssm/selected_buyers.html" %}
                  
                </tbody>

              </table>
          
        </div>
      </div>
    
  
    </div>
    <!-- -->
    <!-- -->
    <div class='row'>
      <div class='col-md-12 form-element'>
        
        <div class="panel panel-info tb-header">
          <div class="panel-heading">
            Add Corporation/Corporations Manually
          </div>
          <div class="panel-body">
            <p>
            The buyers/corporations which you could not find in search and you want submission with them, please add company name below. We will provide submission facility for your added companies.
            </p>
            <div class='row'>
              <form class="form-inline" role="form">
                <div class="col-md-3">
                  <label class="" for="search-buyer">Corporations Name:</label>
                </div>

                <div class="col-md-9">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control" id="manualbuyers">
                        <div class="input-group-btn">
                          <button id="add-manual-buyer" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Add Corporation</button>
                        </div>
                    </div>

                  </div>
                </div>
                
              </form>
            </div>




          </div>
        </div>

      </div> 
    </div>
    

    <div class='row manualadd'>
              
      <div class="col-md-12">
        <div id='mbuyers'>
          
        </div>
      </div>
    
  
    </div>

    <div class='row'>
      <div class='col-md-12 form-element'>
        
        <div class="panel panel-info tb-header">
        	<a href="/ssm/payment/" class="btn btn-primary">Make your payment</a>
        </div>
       </div>
    </div>
  </div>
</div>



<script type="text/javascript">


(function(){
  $("#loader").hide();
  $("#search").on('click', function(event){
    
    $("#buyers").show();
    $("#loader").show();
    var cat_vals = [];
    $('select#select2 option').each(function() {
      cat_vals.push($(this).val());
    });
    categories = cat_vals.join(", ");
    //categories = $("select[name='categories'] option").serialize();
    showall = $("input:radio[name='showall']:checked").val();
    findbuyer = $("#findbuyer").val();
    findcat = $("#findcat").val();

    $.ajax({
        type: "POST",
        url: "/ssm/search_buyers/",
        data: {
          'categories': categories,
          'showall': showall,
          'findbuyer': findbuyer,
          'findcat': findcat
        },

        success: function(data) {
          $("#loader").hide();
          $("#buyers").html(data);  
        },
        error: function(result) {
          alert(result);
        }
    });

    event.preventDefault();
    });

    $("#moveright").click(function(){
      
      return !$('#select1 option:selected').remove().appendTo('#select2'); 
      
    })

    $('#moveleft').click(function() {  
      return !$('#select2 option:selected').remove().appendTo('#select1');  
    }); 

/*
======================== Add manual buyers =========
*/

$("#add-manual-buyer").on('click', function(){
  
  buyer_names = $("#manualbuyers").val();
  console.log(buyer_names);

  $.ajax({
    type: "POST",
    url: "/ssm/add_manual_buyer/",
    data: {
     'bname': buyer_names,
    },

    success: function(data) {
      alert(data);
    },
    error: function(result) {
        alert('error');
    }
  });

    event.preventDefault();
})  

/*

======================== Here goes manually searching buyers with auto suggession=========

*/



})(jQuery);

</script>

</div>
