<div class="row">
	<div class="col-md-8">
		<h1>Supplier Information</h1>
		<div class="row">
			<form action="/ssm/supplier_info/" method="post">{% csrf_token %}
			{% for field in form %}
				
	            <div class="col-md-4">
	            	{{ field.errors }}
	              <label for="id_{{ field.name }}">
	                {{ field.label }}
	              </label>
	            </div>
	            <div class="col-md-8">
	              <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}" 
	              placeholder="{{ field.label }}" class="form-control" style="margin: 5px 0px">
	            </div>
			{% endfor %}
				<div class="col-md-12 ">
					<input type="submit" name="submit" class="btn btn-default pull-right" 
					value="Save & Complate Registration" style="margin-top: 15px" />
				</div>
			</form>
		</div>
		<div class="row" style="margin-top: 25px">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-7">
						<p>Already registered on other supplier portal?
					</div>
					<div class="col-md-5">
						<input type="radio" name="is_regstered_with_portal" value="1"> Yes<br>
						<input type="radio" name="is_regstered_with_portal" value="0"> No
					</div>
				</div>
				
				<div class="row" id="corporations">
					<div class="col-md-12">
						<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#add-corporation">Add corporation</button>
					</div>
					
					<div class="row" id="registered-corporations">
						<div class="col-md-12">
							<table class="table table-hover">
								<thead>
								<tr>
									<th>Corporation Name</th>
									<th>Corporation url</th>
									<th>Username</th>
									<th>Password</th>
								</tr>
								</thead>
								<tbody>
								{% for corp in corps %}
									<tr>
										<td>{{ corp.corporation_name }}</td>
										<td>{{ corp.corporation_url }}</td>
										<td>{{ corp.corp_username }}</td>
										<td>{{ corp.corp_password }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
(function(){
	$("#corporations").hide();
	$("input[name='is_regstered_with_portal']").on("click", function(e){
		have_corporations = $(this).val();
		if(have_corporations == 1) {
			$("#corporations").show();
		} else if(have_corporations == 0) {
			$("#corporations").hide();
		}
	});
	
	
	
})(jQuery)
</script>
