{% if saved_buyers %}
{% for selectedbuyer in saved_buyers %}
	<tr>
		<td><div align='center'> {{ forloop.counter }} </div> </td>
    <td> {{ selectedbuyer.buyer_name }}  </td>
    <td> {{ selectedbuyer.buyer_state }}  </td>
    <td>
      <div align='center'> 
        <a href="#" class='deletebuyer btn btn-danger' value="{{ selectedbuyer.pk}}">D</a> 
      </div> 
    </td>
		
	</tr>
{% endfor %}
{% else %}
<tr class='no-buyers-row'>
  <td colspan=4>
    <div align='center'>
      <div class="alert alert-danger">
        You have no saved buyers.
      </div>
    </div> 
  </td>
</tr>
{% endif %}


<script type="text/javascript">
(function(){

  $("a.deletebuyer").on('click', function(event){
  event.preventDefault();
  bid = $(this).attr('value');
	console.log(bid);
  //el = $(this).closest('tr');

  $( "#deleteconfirm" ).dialog({
      resizable: false,
      height:250,
      width: 320,
      modal: true,
      create: function(){
        console.log('dialog created.');
        $(".ui-widget-header").css("display",'none');
      },
      buttons: {
        Delete: function() {

 			console.log('delete');
          $.ajax({
              type: "POST",
              url: "/ssm/delete_buyer/",
              data: {
                'bid': bid,
              },

              success: function(data) {
                $("#selectedbuyers tbody").html(data);
              },
              error: function(result) {
                alert('error');
              }
          });
          $( this ).dialog( "close" );
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });

  
});

})(jQuery)

</script>
