<div class="row">
	<div class="col-md-2 btn btn-default" style="background-color: #DDD; font-weight: bolder;">Company</div>
	<div class="col-md-4 btn btn-default" style="background-color: #DDD; font-weight: bolder;">Supplier portal url</div>
	<div class="col-md-2 btn btn-default" style="background-color: #DDD; font-weight: bolder;">User name</div>
	<div class="col-md-2 btn btn-default" style="background-color: #DDD; font-weight: bolder;">Password</div>
	<div class="col-md-2 btn btn-default" style="background-color: #DDD; font-weight: bolder;">Status</div>
</div>
{% for s in submissions %}
	<div class="row">
		<div class="col-md-2 list-group-item">{{ s.buyer.buyer_name }}</div>
		<div class="col-md-4 list-group-item">{{ s.buyer.register_link }}</div>
		<div class="col-md-2 list-group-item">{{ s.submitted_user }}</div>
		<div class="col-md-2 list-group-item">{{ s.submitter_pass }}</div>
		<div class="col-md-2 list-group-item">{{ s.submission_status }}</div>
	</div>
{% endfor %}
<div class="row" style="margin-top: 20px;">
	<div class="col-md-6 btn btn-default pull-right">
		<a href="{% url 'buyer_page' %}" >Click here to update your data to the supplier portal</a>
	</div>
</div>