{% extends "base.html" %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <!--payment-left start-->
        {% include 'ssm/left_side_bar.html' %}
        <!--payment-left end-->
    </div>
    
    <div class="col-md-8">
        <!--payment-left start-->
        <div class="row">
        	<div class="col-md-12" style="padding-left: 0px; padding-right: 0px; font-weight: bolder;">
		        <div class="panel panel-primary">
			        <div class="panel-heading">
			  			Submission Status
			  		</div>
		  		</div>
		  	</div>
  		</div>
			{% include 'ssm/submission_status_list.html' %}
		
    </div>
    
    <div class="clearfix"></div>
</div>
{% endblock main %}