{% extends "base.html" %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block step_state %}
{% endblock %}

{% block main %}

    <div class="row maincontent">
		<div class="col-md-12">
	        	<h1>Welcome to PR website! Please choose an option</h1><br><br><br>
				<div class="row">
					<div class="col-md-3">
						<h2>I'm new user</h2>
					</div>
					<div class="col-md-8">
						<a class="btn btn-primary" href="/ssm/supplier_profile/">Create new profile</a>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3">
						<h2>I'm returning user</h2>
					</div>
					<div class="col-md-8">
						<a class="btn btn-primary" href="/ssm/supplier_profile/">Update profile</a>
					</div>
				</div>
			
		</div>
		
    <div style="clear:both"></div>
    </div>
{% endblock main %}
