{% extends "base.html" %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block main %}
	{% include 'ssm/left_side_bar.html' %}
	{% include 'ssm/right_side_supplier_info.html' %}
	{% include 'modals/add_registered_corporations.html' %}
{% endblock main %}
