/* Browser Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	 margin: 0;
	 padding: 0;
	 border: 0;
	 font-size: 100%;
	 font: inherit;
	 vertical-align: baseline;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}
v\:roundrect  {
    behavior:url(#default#VML);
    }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
 	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	 content: '';
	 content: none;
}

table {

	 border-spacing: 0;
	 width:100%;
 	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}

/* Browser Reset Ens*/
body
{

	color: #333333;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
    font-size: 14px;
    line-height: 1.42857;
	
}
a
{
	cursor:pointer;
	outline:none;
	text-decoration:none;
	outline:none;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
	color:#02a8e8;
}

.page
{
	 box-shadow: 0 0 5px 5px #DDDDDD;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.container:after {
    clear: both;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.container {
    max-width: 750px;
}
.container {
    max-width: 970px;
}
.container {
    max-width: 1170px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.page {
    box-shadow: 0 0 5px 5px #DDDDDD;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.header
{
	width:100%;
	padding-top:10px;
	float:left;
	display:inline-block;
}
.maincontent {
	margin-bottom: 15px;
}
.footer
{
	width:100%;
	padding:10px 0px 10px;
	background:#312d2e;
	color:#fff;
	text-align:center;
	line-height:20px;
	font-size:14px;
	float:left;
	display:inline-block;
}
.headerLeft
{
	float:left;
	display:inline-block;
	width:25%;
}
.headerRight
{
	
	display:inline-block;
	
}
.bannerLeft
{
	float:left;
	display:inline-block;
	width:48%;
	padding:10px;
	margin-left:25px;
}
.bannerRight
{
	float:right;
	display:inline-block;
	width:45%;
	padding:10px;
}
.leftContent
{
	float:left;
	display:inline-block;
	width:63%;
	
}
.contentRight
{
	float:right;
	display:inline-block;
	width:35%;
	padding-top:10px;
}
.videoBox
{
	position: relative;
	top:12px;
	left:70;
	width: 390px;
	margin-bottom:5px;
}
.videoBox2
{
	top:12px;
	left:70;
	width: 390px;
	margin-bottom:5px;
}
.testDrive
{
	background:#373435;
	position:relative;
	top:-5px;
	width:100%;
	text-align:center;
}
.testDrive a
{
	color:#fff;
	text-transform:uppercase;
	display:block;
	font-size:16px;
	padding:8px;
}
.testDrive a:hover
{
	background:#282627;
}
.section
{
	width:100%;
}
.section h3
{
	font-size:26px;
	color:#151515;
	margin-bottom:0px;
}
#benefitsHeading
{
	margin-bottom:5px;
}
.partners img
{
	margin-left:45px;
	margin-top:10px;
}
#firstImg
{
	margin-left:0;
}
.itemRow
{
	width:100%;
	display:inline-block;
	margin-bottom:5px;
}
.item
{
	width:48%;
	float:left;
	display:inline-block;
	padding:5px;
}
.itemImg
{
	float:left;
	display:inline-block;
	width:15%;
}
.itemText
{
	float:right;
	display:inline-block;
	width:85%;
}
.item p
{
	font-size:16px;
	color:#151515;
	line-height:18px;
	float:left;
	width:100%;
	margin-left:5px;
}
.howItWorks
{
	border-top:1px #dbdbdb dashed;
	border-bottom:1px #dbdbdb dashed;
	float:left;
	display:inline-block;
	padding:7px 0px 15px;
	margin-bottom:10px;
}
.howItWorks p
{
	font-size:16px;
	color:#151515;
	line-height:20px;
	float:left;
	width:100%;
}
.contentWrapper
{
	width:100%;
	float:left;
	display:inline-block;
	margin:10px 0px;
}
.registrationTableWrapper
{
	border-radius:5px;
	-moz-border-radius:5px;
	width:90%;
	background:url(../images/transparentBG.png);
	background-repeat:repeat;
	color:#fff;
	padding:5px 15px;
	float:right;
	display:inline-block;
	margin-right:30px;
	position:relative;
	top:7px;
}
.registrationTableWrapper tr th
{
	color:#fff;
	font-size:24px;
	font-weight:bold;
}
.registrationTableWrapper tr td
{
	padding:8px 10px;
	font-size:16px;
}
.registrationTableWrapper tr td a:hover
{
	text-decoration:underline;
}
.registrationElement
{
	background:#fff;
	color:#3e3e3e;
	padding:8px 8px;
	border-radius:5px;
	-moz-border-radius:5px;
	font-size:18px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
	outline:none;
	margin:0;
	width:96%;
	border:none;
}
.registratioButtonStyle
{
	background:#04a5e3;
	color:#fff;
	padding:5px 8px;
	border-radius:5px;
	-moz-border-radius:5px;
	font-size:30px;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
	width:100%;
	border:none;
}
.registratioButtonStyle:hover
{
	background:#0399d2;
}
.leftMainFrame {
	position: relative;
	background-image: url("../images/laptop2.png");
	background-size: 530px auto;
	height: 450px;
	background-position: 0px -105px;
	top: 43px;
}
.infoWrapper
{
	border-radius:5px;
	-moz-border-radius:5px;
	width:100%;
	background:url(../images/transparentBG.png);
	background-repeat:repeat;
	color:#fff;
	padding:5px 15px;
	/*height:180px;*/
	
	position:relative;
	
}
.infoWrapper h2
{
	font-size:30px;
	font-weight:bold;
	color:#02a8e8;
}
.infoWrapper p
{
	font-size:16px;
}
.CounterWrapper
{
	width:100%;
}
.count
{
	position:relative;
	top:-10px;
	font-size:60px;
	font-weight:bold;
}
.countText
{
	position:relative;
	top:-22px;
	left:10px;
	font-size:18px;
	font-weight:bold;
	
}
.loginWrapper, .logged-in-user
{
	background:#f8f8f8;
	border-right:1px #e6e6e6 solid;
	border-left:1px #e6e6e6 solid;
	border-bottom:1px #e6e6e6 solid;
	padding:10px 10px 10px;
	position:relative;
	top:-10px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
}
tr.rowspace {
	border-spacing: 5px;
}
.tableHeadingTxt
{
	color:#231f20;
	font-size:20px;

}
.elementStyle
{
	background:#e8e8e8;
	border:1px #d3d3d3 solid;
	color:#838383;
	padding:5px 8px;
	border-radius:5px;
	-moz-border-radius:5px;
	font-size:16px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
	outline:none;
	margin:10px 5px;
}
.buttonStyle
{
	background:#2a2627;
	border:1px #232021 solid;
	color:#fff;
	padding:5px 8px;
	border-radius:5px;
	-moz-border-radius:5px;
	font-size:16px;
	text-transform:uppercase;
	cursor:pointer;
	outline:none;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}
.buttonStyle:hover
{
	background:#1d1a1b;
}
#forgotPassword
{
	font-size:14px;
	color:#02a8e8;
	position:relative;
	top:3px;
	left:2px;
}
#forgotPassword:hover
{
	color:#231f20;
}
.banner
{
	float:left;
	display:inline-block;
	background:url(../images/banner1.png);
	background-repeat:no-repeat;
	width:100%;
	margin-top:10px;
	background-size:100%;
}
.navigationBar
{
	width:100%;
	background:url(../images/transparentBG.png);
	background-repeat:repeat-x;
	float:left;
	display:inline-block;
	height:48px;
	
	
}
.navigationBar ul
{
	margin-left:3px;
}
.navigationBar ul li
{
 	display:inline;
	margin:0;
	padding:0;
	margin-left:-3px;
	margin-right: 3px;
}
.navigationBar ul li a
{	
	display: inline-block;
	font-size:21px;
	color:#fff;
	min-width: 100px;
	height: 48px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
		
}
.navigationBar ul li a:hover
{
	background:#02a8e8;
}
.active
{
	background:#02a8e8;	
}
/*========================== Added by Mamun =====================*/

#message {
	position: fixed;
	top: 0px;
	height: 30px;

}
/* ================================== */
.page {
	-moz-box-shadow: 0 0 5px 5px #DDD;
	-webkit-box-shadow: 0 0 5px 5px#DDD;
	box-shadow: 0 0 5px 5px #DDD;
}
.header {
	padding: 15px;
}
.head {
	margin-bottom: 15px;
}
.login-header {
	background-image: url(../images/footer1.jpg);
	margin-bottom: 20px;
	text-align: left;
	color: #fff;
	font-size: 16px;

	-moz-box-shadow: 0 2px 5px #333;
	-webkit-box-shadow: 0 2px 5px#333;
	box-shadow: 0 2px 5px #333;

}
.login-body {
	margin-bottom: 20px;
}

footer{
	background-image: url(../images/footer1.jpg);
	color: #fff;
	font-size: 11px;
	text-align: center;
	padding: 15px;
}
footer a{
	color:#b15354;
}
.footer2 {
	padding: 25px;
}

.maincontent {
	margin: 10px 5px 20px;
}

form[name='corporations'] textarea {
	
	height: 50px;
	width: 98%;
	border-style: solid;
	border-width: 1px;
	border-color: #603;
	padding: 3px
}
form[name='corporations'] select {

	height: 200px;
}
.hello {
	padding-top: 75px;
	text-align: center;
	height: 200px;
}
.form-element {
	margin: 20px 0px;
}
.login {
	margin-top: 20px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	
}
.logged-in-user {
	float: right;
}
#deleteconfirm {
	height: 150px;
	width: 200px;
	display: none;
}
/* ============= Overwrite ============= */

.navbar {
	margin-bottom: 0px !important;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff !important;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px !important;
	color: #fff !important;
}
.navbar-inverse {
	background-color:#3E3E3E !important;
}
.tb-header {
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}

.ui-dialog-titlebar .ui-widget-header .ui-corner-all .ui-helper-clearfix {
	display: none !important;
}

/* ================ Home page ==================*/

.banner {
	margin: 0px !important;
	-webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  height: 460px;
}
.banner-box {
	padding-top: 75px;
	padding-left: 20px;
}
.banner-heading{
	color:#fff;
	font-family: 'Londrina Solid', cursive;
	line-height:1em;
	font-size:32px
}
.heading{
	color:#554e4e;
	font-size:30px;
	font-weight:normal
}
.banner-text{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	line-height:1.2em;
	font-size:14px;
	font-weight:normal
}
.content-left {
	margin-top: 50px;
}
.vedio-box {
	padding: 5px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}
.clientlist, .margin-top {
	margin-top: 20px;
	
}
.procurement {
	padding-bottom: 20px;
	-webkit-box-shadow: 0 8px 6px -6px #888;
  -moz-box-shadow: 0 8px 6px -6px #888;
  box-shadow: 0 8px 6px -6px #888;
}
.reg-form {
	margin-top: 20px;
	margin-bottom: 20px;
}
.avatar {
	display: inline-block;
}
.dropdown {
	display: inline-block !important;
}

/* =========== Get Started Page =================== */
#payment-plan {
	padding: 10px 5px 20px !important;
	border: 2px solid #777 !important;
	background-color: #EEE !important;
}
.payment-details {
	padding-top: 30px;
}
.get-started-top {
	margin-top: 20px;
	margin-bottom: 20px;
}
.panel-body {
	background-color: #EEE !important;
}
#coupon-code-error {
	padding: 2px;
	background-color: #DDD;
	margin-top: 2px;
	display: none;
	color: #811D1F;
}
.list-group-item {
	height: 45px !important;
}

/*========= Test drive page ==========*/
#youtube {
	padding: 0px !important;
}