@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Londrina+Solid);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic);

body{
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	margin:0px;	
	color:#4a4444
}
#message {
	position: fixed;
	top: 0px;
	height: 30px;

}
#page{
	background-image:url(../images/page.jpg);
	background-repeat:repeat-y;
	width:992px;
	margin:0 auto;	
	margin-bottom: 50px;
}
#header{
	width:940px;
	margin-left:26px;
	margin-right:26px
}
#content{
	width:940px;
	margin-left:26px;
	margin-right:26px
}
#content-left{
	width:680px;
	padding:20px;
	float:left
}
#content-right{
	width:200px;
	padding:10px;
	float:left
}
#nav-left{
	width:200px;
	margin-top:10px;
	margin-left:10px;
	float:left;
	margin-right:25px
}
#body-right{
	width:690px;
	margin-top:10px;
	float:left
}
#menu{
	width:940px;
	height:41px;
	background-image:url(../images/menu.jpg);
	background-repeat:repeat-x;
}
/*#banner{
	width:940px;
	height:398px;
	background-color:#000
}*/
#menu ul{
	list-style-type:none;
	margin:0;
	padding:0;	
}
#menu ul li{	
	float:left
}
#menu ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	display:block;
	background-image:url(../images/separator.jpg);
	background-position:right;
	background-repeat:no-repeat;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:1px
}
#menu ul li a:hover{
	text-decoration:underline
}
.footer{
	background-image:url(../images/footer1.jpg);
	color:#fff;
	font-size:11px
}
.footer a{
	color:#b15354
}
.page-heading{
	background-image:url(../images/footer1.jpg);
	font-size:16px;
	padding:10px;
	background-color:#ed1c24;
	color:#fff;
	border-bottom:4px solid #ccc
}
.page-title-bar {
  border-bottom: 0;
  background-color:#756a6a;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding:9px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  font-weight:bold
}
.list_carousel {
	background-color: #fff;
	/*margin: 0 0 30px 60px;*/
	width: 310px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	background-color: #fff;
	border: 0px solid #999;
	width: 140px;
	height: 70px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	margin-left: 10px;
}
.next {
	float: right;
	margin-right: 10px;
}
.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}
.timer {
	background-color: #cdc9ea;
	height: 6px;
	width: 0px;
}

.list_carousel1 {
	background-color: #fff;
	/*margin: 0 0 30px 60px;*/
	width: 800px;
}
.list_carousel1 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel1 li {
	font-size: 40px;
	color: #999;
	text-align: center;
	background-color: #fff;
	border: 0px solid #999;
	width: 175px;
	height: 121px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}
.list_carousel1.responsive {
	width: auto;
	margin-left: 0;
}

/* ================================== */
.page {
	-moz-box-shadow: 0 0 5px 5px #DDD;
	-webkit-box-shadow: 0 0 5px 5px#DDD;
	box-shadow: 0 0 5px 5px #DDD;
}
.header {
	padding: 15px;
}

.login-header {
	background-image: url(../images/footer1.jpg);
	margin-bottom: 20px;
	text-align: left;
	color: #fff;
	font-size: 16px;

	-moz-box-shadow: 0 2px 5px #333;
	-webkit-box-shadow: 0 2px 5px#333;
	box-shadow: 0 2px 5px #333;

}
.login-body {
	margin-bottom: 20px;
}

footer{
	background-image: url(../images/footer1.jpg);
	color: #fff;
	font-size: 11px;
	text-align: center;
	padding: 15px;
}
footer a{
	color:#b15354;
}
.footer2 {
	padding: 25px;
}

.maincontent {
	margin: 10px 5px 20px;
	padding: 0px 15px 15px;
}

form[name='corporations'] textarea {
	
	height: 50px;
	width: 98%;
	border-style: solid;
	border-width: 1px;
	border-color: #603;
	padding: 3px
}
form[name='corporations'] select {

	height: 200px;
}
.hello {
	padding-top: 75px;
	text-align: center;
	height: 200px;
}
.form-element {
	margin: 20px 0px;
}
.login {
	margin-top: 20px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	
}
#deleteconfirm {
	height: 150px;
	width: 200px;
	display: none;
}
/* ============= Overwrite ============= */

.navbar {
	margin-bottom: 0px !important;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff !important;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px !important;
	color: #fff !important;
}
.navbar-inverse {
	background-color:#3E3E3E !important;
}
.tb-header {
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}

.ui-dialog-titlebar .ui-widget-header .ui-corner-all .ui-helper-clearfix {
	display: none !important;
}

/* ================ Home page ==================*/

.banner {
	background-color: #000;
	height: 398px;
	margin: 0px !important;
	-webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.banner-box {
	padding-top: 75px;
	padding-left: 20px;
}
.banner-heading{
	color:#fff;
	font-family: 'Londrina Solid', cursive;
	line-height:1em;
	font-size:32px
}
.heading{
	color:#554e4e;
	font-size:30px;
	font-weight:normal
}
.banner-text{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	line-height:1.2em;
	font-size:14px;
	font-weight:normal
}
.content-left {
	margin-top: 50px;
}
.vedio-box {
	padding: 5px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}
.clientlist, .margin-top {
	margin-top: 20px;
	
}
.procurement {
	padding-bottom: 20px;
	-webkit-box-shadow: 0 8px 6px -6px #888;
  -moz-box-shadow: 0 8px 6px -6px #888;
  box-shadow: 0 8px 6px -6px #888;
}
.reg-form {
	margin-top: 20px;
	margin-bottom: 20px;
}
.avatar {
	display: inline-block;
}
.dropdown {
	display: inline-block !important;
}

/* =========== Get Started Page =================== */
#payment-plan {
	padding: 10px 5px 20px !important;
	border: 2px solid #777 !important;
	background-color: #EEE !important;
}
.payment-details {
	padding-top: 30px;
}
.get-started-top {
	margin-top: 20px;
	margin-bottom: 20px;
}
.panel-body {
	background-color: #EEE !important;
}
#coupon-code-error {
	padding: 2px;
	background-color: #DDD;
	margin-top: 2px;
	display: none;
	color: #811D1F;
}
.list-group-item {
	height: 45px !important;
}

/*========= Test drive page ==========*/
#youtube {
	padding: 0px !important;
}