<!-- Modal -->
<div class="modal fade" id="add-corporation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add you corporations</h4>
      </div>
      <div class="modal-body">
        <form name="add_corporation" method="post">{% csrf_token %}
		{% for field in alian_form %}
			
            <div class="col-md-4">
            	{{ field.errors }}
              <label for="id_{{ field.name }}">
                {{ field.label }}
              </label>
            </div>
            <div class="col-md-8">
              <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}" 
              placeholder="{{ field.label }}" class="form-control" style="margin: 5px 0px">
            </div>
		{% endfor %}
			
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id='add-corp' class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
(function(){
	$("#add-corp").on("click", function(e){
		
		corp_name = $("input[name='corporation_name']").val();
		corp_url = $("input[name='corporation_url']").val();
		username = $("input[name='corp_username']").val();
		password2 = $("input[name='corp_password']").val();
		
		$.ajax({
	        type: "POST",
	        url: "/ssm/add_corporation/",
	        data: {
	          'corp_name': corp_name,
	          'corp_url': corp_url,
	          'username': username,
	          'password': password2,
	        },

	        success: function(data) {
	        	$('#add-corporation').modal('hide');
	        	$("#registered-corporations thead").append(data);
	          
	        },
	        error: function(result) {
	          alert('Error')
	        }
	    });
		
	})
	
})(jQuery)
</script>