<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">User login form</h4>
        </div>
        <form id='ajaxsignin' method="post">{% csrf_token %}
        <div class="modal-body">
          

          
          <div class='col-md-12'>
            
              <label for="id_username">Username</label>
              <input type='text' name='username' class='form-control'>
              <label for="id_password">Password</label>
              <input type='password' name='password' class='form-control'>
              
                     
          </div>
        


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-lg btn-primary" value="Login" />
        </div>
        </form>   
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<script type="text/javascript">
(function() {

  $("#ajaxsignin").submit(function(e){
    
    name = $("input[name='username']").val();
    pass = $("input[name='password']").val();
    console.log(name);
    
    $.ajax({
      type: "POST",
      url: "/prv/test_ajax/",
      data: {
        'username': name,
        'password': pass
      },

      success: function(data) {
        console.log(data);
        $('#myModal').modal('hide');
        x = window.location.href;
        window.location.replace(x+"prv/supplier_profile/");
      },
      error: function(result) {
        alert('error');
      }
    });
    e.preventDefault();
  })
})(jQuery)

</script>