<style type="text/css">
.modal-dialog {
  padding: 5px;
}
</style>
<div class="modal fade" id="youtube2">
  <div class="modal-dialog">
    
      
      
        <iframe width="560" height="315" src="//www.youtube.com/embed/dsOcf11-f68" frameborder="0" allowfullscreen></iframe>
      
      
    
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->