<div class="bannerLeft">
	<div class="leftMainFrame">
	  	<div class="videoBox">
	    	<a href="http://www.youtube.com/embed/4qbWsvqPfG0?rel=0&amp;wmode=transparent" class="youtube cboxElement">
	        <img src="/static/images/v3.jpg" border="0" style="width: 100%;"></a>
	        <div class="testDrive">
	        	<a href="/ssm/test_drive/" >Take a Free Testdrive</a>
	        </div>
		</div>
	</div>
</div>
{% if not user.is_authenticated %}
<div class="bannerRight">
  <div class="registrationTableWrapper">
    <table>
      <form method="post" action="/accounts/register/" name="prvregister">{% csrf_token %}
      <tr>
        <th>Get started now in 3 simple steps</th>
      </tr>
      <tr>
        <td><input type="text" name="username"  value="Username" class="registrationElement" onFocus="if(this.value == 'Username') 
    {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Username';}"/></td>
      </tr>
      <tr>
        <td><input type="text" name="email"  value="Email" class="registrationElement" onFocus="if(this.value == 'Email') 
    {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Email';}"/></td>
      </tr>
      <tr>
        <td><input type="text" value="Password" name="password1" class="registrationElement" onFocus="if(this.value == 'Password') 
    {this.value = '';this.type='password'}" onBlur="if (this.value == '') {this.type='text';this.value = 'Password';}"/></td>
      </tr>
      <tr>
        <td><input type="text" value="Confirm Password" name="password2" class="registrationElement" onFocus="if(this.value == 'Confirm Password') 
    {this.value = '';this.type='Password'}" onBlur="if (this.value == '') {this.type='text';this.value = 'Confirm Password';}"/></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="tos" />I agree to the  <a href="#">terms and conditions</a></td>
      </tr>
      <tr>
        <td><input type="submit" value="Register" class="registratioButtonStyle" /></td>
      </tr>
    </form>
    </table>
  </div>
</div>
<script type="text/javascript">
  (function(){
    $("form[name='prvregister_back']").on('submit', function(e){
      e.preventDefault();
      username = $("input[name='username2']").val();
      email = $("input[name='email']").val();
      password1 = $("input[name='password1']").val();
      password2 = $("input[name='password2']").val();

      if(password1 != password2) {
        alert('Password does not match');
        return true;
      }

      $.ajax({
        type: "POST",
        url: "/register/",
        data: {
          username2: username,
          password: password1,
          email: email
        },
        success: function(data) {
          if(data == 2){
            alert('Username exist')
          } else {
            $(".bannerRight").css({"background-color":"#777", "margin-top": "50px", "color":"#02A8E8"}).html(data);
            setTimeout(function() {
              $('.bannerRight').fadeOut();
            }, 3000);  
          }
          
        },

        error: function() {
          alert('registration failed.');
        }

      })
    });
  })(jQuery)
</script>
{% endif %}
