<div class="row clientlist">
  <div class="col-sm-6 col-md-4">
  	<a href="#" class="thumbnail">
  		<img src="http://procurementregistration.com/pr01/pr01/system/assets/images/logos/logo1.jpg">
  	</a>
  </div>
  <div class="col-sm-6 col-md-4">
  	<a href="#" class="thumbnail">
  		<img src="http://procurementregistration.com/pr01/pr01/system/assets/images/logos/logo6.jpg">
  	</a>
  </div>
  <div class="col-sm-6 col-md-4">
  	<a href="#" class="thumbnail">
  		<img src="http://procurementregistration.com/pr01/pr01/system/assets/images/logos/usbank.png" alt="">
  	</a>
  </div>

  		
  <div class="clearfix"></div>
  
</div>