<div class="contentWrapper">
    <div class="leftContent">
        <div class="section">
            <h3 id="benefitsHeading">Key benefits of Procurement Registration</h3>
                        
                <div class="itemRow">   
                    <div class="item">
                        <div class="itemImg"><img src="/static/images/img1.png"></div>
                        <div class="itemText"><p>View corporate profiles and register to corporate portals at the click of a button</p></div>
                    </div>
                    <div class="item">
                        <div class="itemImg"><img src="/static/images/img2.png"></div>
                        <div class="itemText"><p>Upload all your information including company information, certifications and licenses commodity codes and more </p></div>
                    </div>
                </div>
                
                <div class="itemRow">   
                    <div class="item">
                        <div class="itemImg"><img src="/static/images/img3.png"></div>
                        <div class="itemText"><p>Detailed company profile = targeted qualified buyer matches</p></div>
                    </div>
                    <div class="item">
                        <div class="itemImg"><img src="/static/images/img4.png"></div>
                        <div class="itemText"><p>Deep niche research on corporations including size, spending and more</p></div>
                    </div>
                </div>
                
                <div class="itemRow">   
                    <div class="item">
                        <div class="itemImg"><img src="/static/images/img5.png"></div>
                        <div class="itemText"><p>Communicate directly with the buyers and category managers and host live meetings</p></div>
                    </div>
                    
                </div>
        </div>
        
        <div class="section howItWorks">
            <h3>How does Procurement Registration stand out!</h3>
            <p>Procurement Registration does all the legwork for you in registering your company 
    to corporate portals of your choice. You no longer have to spend hours of your time 
    on corporate registrations – our team handles the entire process from start to finish, 
    giving you the time to jump to the next opportunity.</p>
            
        </div>
        
            
        <div class="section partners">
            <h3>Partners of Procurement Registration</h3>
            
            <img src="/static/images/par1.png" id="firstImg"/>
            <img src="/static/images/par2.png" />
            <img src="/static/images/par3.png" />
            
        </div>
    </div>

    <div class="contentRight">

        

        <div class="videoBox2">
                <a href="http://www.youtube.com/embed/qZ6OwBzs6FY?rel=0&amp;wmode=transparent" class="youtube cboxElement">
                <img src="/static/images/v2.jpg" border="0" style="width: 100%;"></a>

            <div class="testDrive">
                <a href="/ssm/test_drive/" >Take a Free Testdrive</a>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>