Hi {{ username }},<br>
Welcome to procurementregistration.com! Simply proceed with the steps by <a href={{ activation_url }}> {{ activation_url }}</a> to complete
your registration!
<br>
<br>
Thanks, <br>
Procurement Registration Team  