{% extends "base.html" %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
{% block main %}

<div class="container">
	<div class="col-md-8">
		<div class="jumbotron">  
  
    		<h2>Our Mission</h2>
    		<p style="text-align: justify;">
    			Procurement Registration believes that Buyers and Suppliers should have easy, 
    			online access to developing and sustaining relationships. Procurement Registration's 
    			mission is to give small and large corporations, organizations, and other entities a 
    			path to forge these working relationships and to allow them to continue to grow.
    		</p>
		</div>
  	</div>
  	<div class="col-md-8">
		<div class="jumbotron">  
  
    		<h2>Our Commitment</h2>
    		<p class="label label-info">Message from our Founder.</p>
    		<p style="text-align: justify;">
    			Procurement Registration was founded upon the premise that Buyers and Suppliers need an expedient, 
    			accurate way to develop relationships with one another. Business relationships are not unlike personal 
    			relationships: they can be difficult and fragile if not handled with care. Procurement Registration 
    			takes the guesswork out of building these new relationships so that both Buyers and Suppliers can 
    			concentrate on their own areas of expertise and can leave the business of building new business 
    			relationships to us.
    		</p>
    		<blockquote>
    		<p>
				Procurement Registration is the only Business Intelligence Application and Platform for Suppliers and Buyers to utilize, discover and do business with each other.    		
    		
    		</p>
    		</blockquote>
    		<blockquote>
    		<p>
				Procurement Registration simplifies the Corporate Buying Portal Registration Process for Suppliers.     		
    		</p>
			</blockquote>    		
    		<p>
				 With one single Supplier Registration on Procurement Registration you and your company is now in our 
				 system and can be found by Corporate Buyers. With one single Supplier Registration, Suppliers can 
				 register on hundreds of Corporate Buying Portals (via ProReg Assisted Submission). You can update, 
				 change your details, and you can choose exactly which Corporate Buyers you want to target at any time!    		
    		</p>
    		<br>
			<address>
  			<strong>Sincere Regards,</strong><br>
  			Ben Fatola<br>
  			Procurement Registration Founder & CEO.
			</address>
		</div>
  	</div>
</div>
<script type="text/javascript">
(function(){
	$(".navigationBar ul li a").each(function(i){
		$(this).removeClass("active");
	});
	$(".navigationBar ul li a[href='/aboutus/']").addClass("active");
})(jQuery)
</script>
{% endblock %}