<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% block head %}
    {% include "head.html" %}
{% endblock %}
<body>

<div class='container page'>
{% block flashmessage %}
    {% if messages %}
        <div class="row" >
            <div class="col-md-6 col-md-offset-3" id="message">
              {% for message in messages %}
                  {% if forloop.first %}
                    <div class="alert alert-success"> {{ message }}</div>
                  {% endif %}
              {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    {% endif %}
{% endblock %}
    
    <div class="row head">
        
        <div class="col-md-12">
            <!--header start-->
            {% include 'header.html' %}
            <!--header end-->
        </div>
    </div>
    {% block banner %}
    <div class="row banner">
        
        
            <!--topmenubar start-->
            {% include 'topmenubar.html' %}
            <!--topmenubar end-->
            
            <!--steps block start-->
            
            <!--steps end-->
            
            
            <!--banner start-->
            {% include 'homepage/banner.html' %}
            <!--banner end-->
            
        
        <div class="clearfix"></div>
    </div>
    {% endblock %}
    
    
    

    <div class="row maincontent">
    {% block step_state %}
	    {% if user.is_authenticated %}
	    	{% include "steps.html" %}
	    {% endif %}
    {% endblock %}
        <div class="col-md-12">
            {% block main %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Footer start -->
            {% include 'footer.html' %}
            <!-- Footer end -->
        </div>
    </div>
</div>
</body>
{% block footerjs %}

<script src='/static/js/script.js' type="text/javascript"></script>
{% endblock footerjs %}
</html>
<div id='deleteconfirm'>
<div class="alert alert-danger"><h4>Are you sure, you want to delete this buyer?</h4></div>
</div>
{% include "modals/signin.html" %}
{% include "modals/signup.html" %}
{% include "modals/youtube.html" %}
<script type="text/javascript">
(function(e){
    setTimeout(function() {
      $('#message').fadeOut();
    }, 3000);

})(jQuery)

</script>
