{% extends "base.html" %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
{% block main %}

<div class="container">
  	<div class="col-md-8">
		<div class="jumbotron">  
  
    		<h1>Contact Us</h1>
    		<p style="text-align: justify;">
    			At Supplier Registration Concierge, we pride ourselves on providing timely, friendly, 
    			and accurate customer service. If you have any questions, comments, or technical issues, 
    			please contact us and our helpful staff will aid you immediately.
    		</p>
    		<br>
			<address>
  			<strong>Phone: </strong>(480) 332-6999<br>
  			<strong>Email: </strong>
  			<a href="mailto:#">contact@procurementregistration.com</a>
			</address>
			<blockquote>
			<small>			
				All contact from clients is taken very seriously. We urge you to call or email immediately with any issues you may have
			</small>
			</blockquote>
		</div>
  	</div>
</div>

<script type="text/javascript">
(function(){
	$(".navigationBar ul li a").each(function(i){
		$(this).removeClass("active");
	});
	$(".navigationBar ul li a[href='/aboutus/']").addClass("active");
})(jQuery)
</script>
{% endblock %}