<head>
	<title>Procurement System</title>
    <link rel="icon" href="/static/images/xx.png" type="image/x-icon">
    <link rel="shortcut icon" href="/static/images/xx.png" type="image/x-icon">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="/static/jquery/css/redmond/jquery-ui-1.10.3.custom.min.css" />
    
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/static/css/camera.css" />
    
    <link rel="stylesheet" href="/static/css/style.css" />
    
    
    <script src='/static/jquery/js/jquery-2.0.2.min.js' type="text/javascript"></script>
    <script src='/static/jquery/js/jquery-ui-1.10.3.custom.min.js' type="text/javascript"></script>
    
	<script src='/static/bootstrap3/js/bootstrap.min.js' type="text/javascript"></script>
    <script src='/static/js/camera.min.js' type="text/javascript"></script>
    
    <link rel="stylesheet" href="/static/js/colorbox-master/example3/colorbox.css" />
    <script src="/static/js/colorbox-master/jquery.colorbox.js" type="text/javascript"></script>
    <link href="/static/js/weblogin/front.css" media="screen, projection" rel="stylesheet" type="text/css">
    <script src="/static/js/typeahead.min.js" type="text/javascript"></script>

    <script type="text/javascript" charset="utf-8">
        jQuery(document).ready(function(){
            jQuery('#camera_wrap_2').camera({
                height: '398px',
                loader: 'none',
                pagination: false,
                thumbnails: false
            });
        });
    </script>

    <script type="text/javascript">
        //<![CDATA[
            base_url = "";
        //]]>
        $(document).ready(function(){
            $(".vimeo").colorbox({iframe:true, innerWidth:800, innerHeight:500});
            $(".youtube").colorbox({iframe:true, innerWidth:800, innerHeight:500});
        });
        $(document).ready(function() {
            $(".signin").click(function(e) {
                e.preventDefault();
                $("fieldset#signin_menu").toggle();
                $(".signin").toggleClass("menu-open");
            });
            $("fieldset#signin_menu").mouseup(function() {
                return false
            });
            $(document).mouseup(function(e) {
                if($(e.target).parent("a.signin").length==0) {
                    $(".signin").removeClass("menu-open");
                    $("fieldset#signin_menu").hide();
                }
            });
        });
    </script>

</head>