<div class='row header'>

    <div class="col-md-6">

      <a href="/{{ request.META.HTTP_HOST }}">
        <img src="/static/theme/images/logo.png" width="130" height="96"  alt="Procurement Registration Solutions"/>
      </a>
    </div>

    <div class="col-md-6">            
    	{% if user.is_anonymous %}  
        <div id="topnav" class="topnav"> 
            <strong style="color:#696262" >Have an account?</strong> 
            <a data-toggle="modal" href="#myModal"  class="signin"><span>Sign in</span></a> 
        </div>
      {% else %}
        <div class="pull-right">
        	<div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
              {{ user }} <span class="caret"></span>

            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a href="">Profile</a></li>
              <li><a href="/accounts/logout/">Logout</a></li>
            </ul>
          </div>
          <div class='avatar'>
          {% if user.supplier.avatar %}
            <img src="/media/{{ user.supplier.avatar }}" width=40 height=40 class="img-thumbnail">
          {% else %}
            <img src="/media/{{ user.supplier.avatar }}" width=40 height=40 class="img-thumbnail">
          {% endif %}
          </div>
        </div>
      {% endif %}
      {{ request.META.HTTP_HOST }}
    </div>                
</div>

