<div class="row">
	<div class="col-md-2">
		<div class="headerLeft">
			<a href="/">
				<img src="/static/images/logo.png" alt="Procurement System">
			</a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="infoWrapper">
		    <h2>Procurement Registration Solution</h2>
		    <p>Register on hundreds of corporate portals in the time it takes you 
		    to finish a cup of coffee. Get infront of thousands of businesses, 
		    local or global - with the click of a button.</p>
		    
		    <div class="CounterWrapper">
		      <span class="count">{{ total_suppliers }}</span>
		      <span class="countText">Users registered and still counting</span>
		    </div>
		    
		    
		</div>
	</div>
	<div class="col-md-4">
		<div class="headerRight pull-right">
			
			{% if not user.is_authenticated %}
			<div class="loginWrapper">
				<table style="border-collapse: separate;">
					<form action="/accounts/login/" name="prvlogin" method="post">{% csrf_token %}
					<tr>
						<td><span class="tableHeadingTxt">Login to Procurement Registration</span></td>
					</tr>
					<tr class="rowspace">
						
						<td><input type="text" name="username" class="elementStyle form-control" value="Username" onFocus="if(this.value == 'Username') 
				{this.value = '';}" onBlur="if (this.value == '') {this.value = 'Username';}" /></td>
				
					</tr>
					
					<tr class="rowspace">
						
						<td><input type="password" name="password" class="elementStyle form-control" value="Password" onFocus="if(this.value == 'Password') 
				{this.value = '';this.type='password'}" onBlur="if (this.value == '') {this.type='text';this.value = 'Password';}" /></td>
						
						</tr>
						<tr class="rowspace">
						<td><a data-toggle="modal" data-target="#myModal" href="#" id="forgotPassword">Forgot Password</a>
						<input type="submit" value="SIGN IN" class="buttonStyle pull-right" /></td>
					</tr>
					
				
					</form>
				</table>
		    
			</div>
		  {% else %}
		      <div class="logged-in-user">
		      
		        <div class="dropdown">
		          <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
		            {{ user }} <span class="caret"></span>
		
		          </a>
		          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		            <li><a href="/ssm/supplier_profile/">Profile</a></li>
		            <li><a href="/accounts/logout/">Logout</a></li>
		          </ul>
		        </div>
		        <div class='avatar'>
		        {% if user.supplier.avatar %}
		          <img src="/media/{{ user.supplier.avatar }}" width=50 height=50 class="img-thumbnail">
		        {% else %}
		          <img src="/static/images/martin.jpg" width=50 height=70 class="img-thumbnail">
		        {% endif %}
		        </div>
		    </div>
		    <div class="clearfix"></div>
		  {% endif %}
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="/accounts/forget_password/">
		  {% csrf_token %} 
		  <div class="row">
		  	<div class='col-md-12'>
		  		
		  	</div>
			  <div class='col-md-1'>
			  	<p><label for="id_email">Email:</label></p>
				</div>
				<div class='col-md-6'>
					<input id="id_email" class="form-control" maxlength="254" name="email" type="text">					
				</div>						
			
			
			  <div class='col-md-4'>
			  	<input type="submit" class="btn btn-success" value="Reset my password" />
				</div>
				
			</div>
		  
		  <input type="hidden" name="next" value="{{ next }}" />
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
(function(){

})(jQuery)
</script>