<div class='col-md-3'>
  <style>
  .active-tab{ background: #eee; }
  </style>
  <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a href="{% url 'supplier_profile' %}">
          Supplier Profile
        </a>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a href="">Supplier Info</a>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        <i class="icon-envelope"></i> Notifications</a>
        </h4>
      </div>

      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">My Inbox</a>
            </li>     
          </ul>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        <i class="icon-file"></i> Reports</a>
        </h4>
      </div>

      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Successful Submission</a></li>
            <li class="list-group-item"><a href="#">Failed Submission</a></li>
            <li class="list-group-item"><a href="#">Client Report</a></li>     
          </ul>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
        <i class="icon-cog"></i> Administration</a>
        </h4>
      </div>

      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">User Management</a>
            </li>
            <li class="list-group-item">
              <a href="#">Add Extra Fields</a>
            </li>
            <li class="list-group-item">
              <a href="#">Client Management</a>
            </li>
            <li class="list-group-item">
              <a href="#">Subscription Plan</a>
            </li>
            <li class="list-group-item">
              <a href="#">Requests Log</a>
            </li>
            <li class="list-group-item">
              <a href="#">Email Notifications System</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div> <!-- End panel-group -->
</div>
