<div class="logged-in-user">
  <div class="dropdown">
    <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
      {{ user }} <span class="caret"></span>

    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a href="">Profile</a></li>
      <li><a href="/accounts/logout/">Logout</a></li>
    </ul>
  </div>
  <div class='avatar'>
  {% if user.supplier.avatar %}
    <img src="/media/{{ user.supplier.avatar }}" width=40 height=40 class="img-thumbnail">
  {% else %}
    <img src="/media/{{ user.supplier.avatar }}" width=40 height=40 class="img-thumbnail">
  {% endif %}
  </div>
</div>