<div class="jumbotron">
<div class="col-md-12">
  	
   	<div class="row">
	   	<div class="col-md-10 col-md-offset-1">
	   	{% if user.supplier.step_state == "REGISTERED" %}
	   		<a class="" href="{% url 'get_started' %}">
	   		<div class="col-md-3 step btn btn-primary btn-disabled btn-lg">
	   			STEP 1
	   		</div>
	   		</a>
	   		<div class="col-md-1"></div>
	   		<a class="" href="">
	   		<div class="col-md-3 step btn btn-default btn-lg" disabled="true">
	   			STEP 2
	   		</div>
	   		</a>
	   		<div class="col-md-1"></div>
	   		<a class="" href="">
	   		<div class="col-md-3 step btn btn-default btn-lg" disabled="true">
	   			STEP 3
	   		</div>
	   		</a>
	   	{% elif user.supplier.step_state == "STEP1" %}
	   		<a class="" href="{% url 'get_started' %}">
	   		<div class="col-md-3 step btn btn-primary btn-lg">
	   			STEP 1
	   		</div>
	   		</a>
	   		<div class="col-md-1"></div>
	   		<a class="" href="{% url 'buyer_page' %}">
	   		<div class="col-md-3 step btn btn-primary btn-lg">
	   			STEP 2
	   		</div>
	   		</a>
	   		<div class="col-md-1"></div>
	   		<a class="" href="{% url 'supplier_profile' %}">
	   		<div class="col-md-3 step btn btn-default btn-lg" disabled="true">
	   			STEP 3
	   		</div>
	   		</a>
	   	{% elif user.supplier.step_state == "STEP2" %}
	   		<a class="" href="{% url 'get_started' %}">
	   		<div class="col-md-3 step btn btn-primary btn-lg">
	   			STEP 1
	   		</div>
	   		</a>
	   		<div class="col-md-1"></div>
	   		<a class="" href="{% url 'buyer_page' %}">
	   		<div class="col-md-3 step btn btn-primary btn-lg">
	   			STEP 2
	   		</div>
	   		</a>
	   		<div class="col-md-1"></div>
	   		<a class="" href="{% url 'supplier_profile' %}">
	   		<div class="col-md-3 step btn btn-primary btn-defalut btn-lg" disabled="true">
	   			STEP 3
	   		</div>
	   		</a>
	   	{% elif user.supplier.step_state == "STEP3" or user.supplier.step_state == "COMPLETED"  %}
	   		<div class="col-md-3 step btn btn-primary btn-lg">
	   			STEP 1
	   		</div>
	   		</a>
	   		<div class="col-md-1"></div>
	   		<a class="" href="{% url 'buyer_page' %}">
	   		<div class="col-md-3 step btn btn-primary btn-lg">
	   			STEP 2
	   		</div>
	   		</a>
	   		<div class="col-md-1"></div>
	   		<a class="" href="{% url 'supplier_profile' %}">
	   		<div class="col-md-3 step btn btn-primary btn-lg">
	   			STEP 3
	   		</div>
	   		</a>
	   	{% endif %}
	   	</div>
	   	
   	</div>
  	
</div>
</div>