{% extends "base.html" %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block step_state %}
{% endblock %}

{% block main %}

    <div class="row maincontent">

        {% include 'testdrive/test_right_side_content.html' %}

        <div style="clear:both"></div>
    </div>
{% endblock main %}
