<div class="navigationBar">
	<ul>
		<li><a href="/" class="active">Home</a></li>
		<li><a href="/ssm/get_started/">Get Started</a></li>
		<li><a href="/aboutus/">About Us</a></li>
		<li><a href="/contactus/">Contact Us</a></li>
		<li><a href="http://procurementopportunities.biz/">Blog</a></li>
	</ul>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>