    <div class="col-md-12">
        <nav class="navbar navbar-inverse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/prv/get_started/">Get Started</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog" target="_blank">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div style="clear:both"></div>
    </div>
