

<div class='col-md-12 content'>           

<div class='row'>
  <div class='col-md-12'>
        <div class="panel-heading login-header">Search Corporations</div>
  </div>
</div>
    <form name='corporations'>
        <div class='row'>
          <div class='col-md-5 form-element'>
            <select name="multiple" id='select1' multiple class="form-control">
            {% for category in categories %}
              <option value="{{ category.pk }}">{{ category.category_name }}</option>
            {% endfor %}
            </select>
          </div>

          <div class='col-md-2 hello'>
            <button type="button" id="moveright" class="btn btn-default "> >> </button><br>
            <button type="button" id="moveleft" class="btn btn-default form-element"> << </button>
          </div>

          <div class='col-md-5 form-element'>
            <select name="categories" id='select2' multiple class="form-control">
            
            </select>
          </div>

        </div>

        <div class='row'>
          <div class="col-md-8">
            <p class="text-danger"><strong>Add comma seperated (,) keywords to search corporations</strong><span style="color:#000; margin-left: 20px;">example: computer, textile, food </span> </p>
            
          
          </div>
        <div>

        <div class='row'>
          <div class='col-md-8'>
            <input type="text" id="findcat" class="form-control" placeholder="Find category">
            <input type="text" id="findbuyer" class="form-control form-element" placeholder="Find buyer">
          </div>
          <div class='col-md-4'>
            <button type="button" id="search" class="btn btn-lg btn-primary"> Search Buyers </button>
            
          </div>
        </div>

        
      
    </form>

    <div class='row'>
      <div class='col-md-12' id="loader">
        <img src="/static/images/loader.gif">
      </div> 
      <div class='col-md-12 form-element' id="buyers">


      </div> 
    </div>
    <hr>
    <!-- -->
    <div class='row'>
      <div class='col-md-6'>
        
        <div class="panel panel-info tb-header">
          <div class="panel-heading">
            <h4>Why procurement registration?</h4>
          </div>
          <div class="panel-body" id="youtube">
            <a data-toggle="modal" href="#youtube2">
              <img src="/static/images/youtube_bg2.png" style="width: 100%; height: 100%;">    
            </a>       
            
          </div>
        </div>

      </div> 

      <div class='col-md-6'>
        
        <div class="panel panel-info tb-header">
          <div class="panel-heading">
            <h4>Key features</h4>
          </div>
          <div class="panel-body">
            <p>
              <ul>
                <li>
                  Save time by not wasting countless hours filling out form after form on corporate portal
                </li>
                <li>
                  Register to company web sites on your choice
                </li>
                <li>
                  Enter your information only once we'll handle the rest
                </li>
                <li>
                  Get more time to work on your business and jump to the next
                </li>
                <li>
                  Search for local, nationwide and global bid opportunities
                </li>
                <li>
                  Search by name, location, products, services and categories
                </li>
                <li>
                  Search by diversity classification, NAICS & SIC codes
                </li>
                <li>
                  Gain access to hundreds of local, state and federal buyers
                </li>
                <li>
                  Email alerts, events alerts and educational webinars
                </li>
              </ul>
            </p>
            
          </div>
        </div>

      </div> 


    </div>
    
    

    
</div>



<script type="text/javascript">


(function(){
  $("#loader").hide();
  $("#search").on('click', function(event){

    $("#buyers").show();
    $("#loader").show();

    categories = $("select[name='categories']").serialize();
    //showall = $("input:radio[name='showall']:checked").val();
    findbuyer = $("#findbuyer").val();
    findcat = $("#findcat").val();

    $.ajax({
        type: "POST",
        url: "/ssm/test_search_buyers/",
        data: {
          'categories': categories,
          //'showall': showall,
          'findbuyer': findbuyer,
          'findcat': findcat
        },

        success: function(data) {
          $("#loader").hide();
          $("#buyers").html(data);  
        },
        error: function(result) {
          alert(result);
        }
    });

    event.preventDefault();
    });

    $("#moveright").click(function(){
      
      return !$('#select1 option:selected').remove().appendTo('#select2'); 
      
    })

    $('#moveleft').click(function() {  
      return !$('#select2 option:selected').remove().appendTo('#select1');  
    }); 

/*
======================== Add manual buyers =========
*/




})(jQuery);

</script>

</div>
