{% extends "base.html" %}
{% block flashmessage %}
{% endblock %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
{% block main %}

<div class='row'>
	{% if messages %}
        <div class="row" >
            <div class="col-md-6 col-md-offset-3" id="message">
              {% for message in messages %}
                  {% if forloop.first %}
                    <div class="alert alert-success"> {{ message }}</div>
                  {% endif %}
              {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    {% endif %}
	    
    <div class="col-md-6 col-md-offset-3 login">
        <div class='row btn-primary'>
            <div class='col-md-12'>
                <div class="panel-heading">Supplier login form</div>
            </div>
        </div>
        <div class='row login-body'>
            <div class='col-md-12'>
                <form action="{% url 'login' %}" method="post">{% csrf_token %}

                        <div class='form-element'>
                            
                            <label for="id_username" class="col-md-2 control-label">Username</label>
                            <div class="col-md-10">
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <br><br>
                            <label for="id_password" class="col-md-2 control-label">Password</label>
                            <div class="col-md-10">
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    
                    <div class='form-element'>

                        <div class="col-md-10 col-md-offset-2">
                            All fields marked with ( <font class="asterik">*</font>) are required.
                            
                        </div>
                        <div class="col-md-10 col-md-offset-2">
                            
                            <input type="submit" class="btn btn-lg btn-primary" name="login" id="login" value="Login" >
                        </div>
                    </div>
                </form>
            </div>
        </div>
        


    </div>
</div>
<div style="clear:both"></div>
{% endblock main %}