{% extends "base.html" %}
{% block flashmessage %}
{% endblock %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
{% block main %}

<div class='row'>
	{% if messages %}
        <div class="row" >
            <div class="col-md-6 col-md-offset-3" id="message">
              {% for message in messages %}
                  {% if forloop.first %}
                    <div class="alert alert-success"> {{ message }}</div>
                  {% endif %}
              {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    {% endif %}
	    
    <div class="col-md-6 col-md-offset-3 login">
        <div class='row btn-primary'>
            <div class='col-md-12'>
                <div class="panel-heading">Password reset</div>
            </div>
        </div>
        <div class='row login-body'>
            <div class='col-md-12'>
				<form method="post" action="/accounts/password_reset_done/">{% csrf_token %}
				{{ form.as_p }}
				<input type="hidden" value="{{ user_id }}" name="user_id">
				<input type="submit" value="reset" class="btn btn-default">
				</form>
            </div>
        </div>
        


    </div>
</div>
<div style="clear:both"></div>
{% endblock main %}