{% extends "base.html" %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
{% block main %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
	<div class="registrationTableWrapper">
	    <table>
	      <form method="post" action="/accounts/register/" name="prvregister">{% csrf_token %}
	      <tr>
	        <th>Get started now in 3 simple steps</th>
	      </tr>
	      <tr>
	        <td><input type="text" name="username"  value="Username" class="registrationElement" onFocus="if(this.value == 'Username') 
	    {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Username';}"/></td>
	      </tr>
	      <tr>
	        <td><input type="text" name="email"  value="Email" class="registrationElement" onFocus="if(this.value == 'Email') 
	    {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Email';}"/></td>
	      </tr>
	      <tr>
	        <td><input type="text" value="Password" name="password1" class="registrationElement" onFocus="if(this.value == 'Password') 
	    {this.value = '';this.type='password'}" onBlur="if (this.value == '') {this.type='text';this.value = 'Password';}"/></td>
	      </tr>
	      <tr>
	        <td><input type="text" value="Confirm Password" name="password2" class="registrationElement" onFocus="if(this.value == 'Confirm Password') 
	    {this.value = '';this.type='Password'}" onBlur="if (this.value == '') {this.type='text';this.value = 'Confirm Password';}"/></td>
	      </tr>
	      <tr>
	        <td><input type="checkbox" name="tos" />I agree to the  <a href="#">terms and conditions</a></td>
	      </tr>
	      <tr>
	        <td><input type="submit" value="Register" class="registratioButtonStyle" /></td>
	      </tr>
	    </form>
	    </table>
	</div>
</div>
</div>
{% endblock main %}