{% extends "base.html" %}
{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
{% block main %}
	<h1>You registration is successfull</h1>
	<p> Please check you email and click activation link to start</p>
{% endblock main %}