{% extends "base.html" %}
{% block flashmessage %}
{% endblock %}

{% block banner %}
<div class="row">
    <div class="col-md-12">
        <!--topmenubar start-->
        {% include 'topmenubar.html' %}
        <!--topmenubar end-->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
{% block main %}
	{% if messages %}
        <div class="row" >
            <div class="col-md-6 col-md-offset-3" id="message">
              {% for message in messages %}
                  {% if forloop.first %}
                    <div class="alert alert-success"> {{ message }}</div>
                  {% endif %}
              {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    {% endif %}
	<h1>Your account is not active yet.</h1>
	<p>Please check you email for activation link or contact with admin at admin@test.com</p>
{% endblock main %}